.c-hero {
  background-image: url("../assets/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: getFontFamily("fuente1");
  padding-bottom: getPadding(8);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 1000px;
  }

  @media (max-width: getMedia("desktop")) {
    &__container {
      text-align: center;
      height: 1000px;
    }
  }

  @media (max-width: getMedia("mobile")) {
    &__container {
      justify-content: center;
      height: 500px;
    }
  }

  &__title {
    font-size: getFontSize("10xl");
    font-weight: getFontWeight(4);
    color: getColor("blanco", 0);

    &--big {
      font-size: getFontSize("11xl");
    }
  }

  @media (max-width: getMedia("desktop")) {
    &__title {
      width: 500px;
    }
  }

  @media (max-width: getMedia("mobile")) {
    &__title {
      font-size: getFontSize("5xl");
    }
  }

  &__subtitle {
    font-size: getFontSize("2xl");
    font-weight: getFontWeight(5);
    color: getColor("blanco", 0);
    margin-bottom: getMargin(4);

    &--small {
      font-size: getFontSize("l");
      margin-bottom: getMargin(12);
    }
  }

  @media (max-width: getMedia("mobile")) {
    &__subtitle {
      font-size: getFontSize("xl");

      &--small {
        font-size: getFontSize("s");
        margin-bottom: getMargin(12);
      }
    }
  }
}
