.c-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: getBackground("white");
  padding: getPadding(11) getPadding(8);
  color: getColor("negro", 0);
  font-family: getFontFamily("fuente4");

  &__logo {
    font-size: getFontSize("3xl");
    font-weight: getFontWeight(10);
    margin-top: getMargin(11);
    padding-left: getPadding(15);
  }

  @media (max-width: getMedia("desktop")) {
    &__logo {
      font-size: getFontSize("l");
      padding-left: getPadding(7);
    }
  }

  @media (max-width: getMedia("tablet")) {
    &__logo {
      font-size: getFontSize("3xl");
    }
  }

  @media (max-width: getMedia("mobile")) {
    &__logo {
      font-size: getFontSize("4xl");
    }
  }

  &__menu-container {
    display: grid;
    justify-content: center;
    align-items: end;
    justify-items: start;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: 50px 50px;
    grid-gap: getGap(8) getGap(7);
  }

  @media (max-width: getMedia("desktop")) {
    &__menu-container {
      grid-gap: getGap(5) getGap(1);
    }
  }

  @media (max-width: getMedia("tablet")) {
    &__menu-container {
      display: none;
    }
  }

  &__idioma {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: getGap(1);
    width: 80px;
    padding-left: getPadding(8);
  }

  &__link {
    text-decoration: none;
    color: getColor("negro", 0);
    font-size: getFontSize("s");

    &--big {
      font-size: getFontSize("m");
    }
  }

  &__buscador {
    width: 120px;
    height: 20px;
  }

  &__burger {
    display: none;
    font-weight: getFontWeight(7);
    font-size: getFontSize("4xl");
    padding-top: getPadding(10);
  }
  @media (max-width: getMedia("tablet")) {
    &__burger {
      display: block;
    }
  }
}
